.dimension-wrapper {
	height: 400px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
/*	background: #bfb499;*/
}

.dimentions-form input{
	width: 50%;
	display: inline;
}
.dimentions-form p {
	display: inline;
}

h1 {
	text-align: center;
} 
form {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}
.img-wrapper {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.img-wrapper img {
	width: 20%;
	display:inline-block;
    margin:auto;
	padding-top: 100px;
}

.frame-wrapper{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.frame-wrapper img{
	width: 20%;
	display:inline-block;
    margin:auto;
	padding-top: 50px;
}

#design-img {
	display: none;
}
#frame {
	display: none;
}
#fchilds-chil-container {
	display: none;
}

#schilds-chil-container {
	display: none;
}

#door-design-and-color {
	display: none;
}

#second-color-buttons {
	display: none;
}

#final-design-result {
	display: none;
}

/*
#show-hide-type1 {
	display: none;
}
#show-hide-type2 {
	display: none;
}
*/
/*
#two-frame-colors {
	display: none;
}
*/


#form {
	display: true;
}

#img-btn {
	margin-left: 200px;
}

#door-design-and-color-picer-img{
	margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    position: relative !important;
    z-index: 10;
    top: 0;
    left: 0;
    width: 33%;
}
.door-design-and-color-wrapper{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.door-color{
	margin-left: auto;
    position: absolute;
    margin-right: auto;
    display: flex;
    z-index: 1;
    top: 16%;
    left: 27%;
	width: 13%;
}

.door-color-first {  
    margin-left: auto;
    position: absolute;
    margin-right: auto;
    display: flex;
    z-index: 1;
    top: 14%;
    left: 26%;
    height: 250px;
    width: 260px;
}

.door-color-second {  
    margin-left: auto;
    position: absolute;
    margin-right: auto;
    display: flex;
    z-index: 1;
    top: 47%;
    left: 26%;
    height: 250px;
    width: 260px;
}

#arrow-right-color-picker {
	cursor: pointer;
}

#arrow-left-color-picker{
	cursor: pointer;
}
/*KAI PASPAUDI ANT RATUKU KEICIASI SPALVA*/


/*KAI PASPAUDI ANT RATUKU KEICIASI SPALVA*/

/*FINAL STEP COLOR DESIGN*/
.final-step-door-color {
	/* margin-left: auto; */
    position: absolute;
    /* margin-right: auto; */
    /* display: flex; */
    z-index: 1;
    top: 17%;
    left: 2%;
    overflow: hidden;
    width: 17%;
}

.final-step-door-color-first {  
    /* margin-left: auto; */
    position: absolute;
    /* margin-right: auto; */
    display: flex;
    z-index: 1;
    top: 17%;
    left: 1%;
    height: 250px;
    width: 260px;
    height: 35%;
    width: 18%;
}

.final-step-door-color-second {  
    /* margin-left: auto; */
    position: absolute;
    /* margin-right: auto; */
    display: flex;
    z-index: 1;
    top: 56%;
    left: 1%;
    height: 250px;
    width: 260px;
    height: 35%;
    width: 18%;
}

/*FINAL STEP COLOR DESIGN*/


/*FINAL STEP FRAME POSITION*/

.final-design-oneframe {
	width: 20%;
    /* overflow: hidden; */
    z-index: 10;
    position: relative;
}

/*FINAL STEP FRAME POSITION*/

#show-hide-type1{
	display: inline-block;
}
#show-hide-type2{
	display: inline-block;
}
#show-hide-type0{
	display: inline-block;
}
#price1-div p{
	display: inline-block;
}
#price2-div p{
	display: inline-block;
}